TOKEN=token
OPEN_WEATHER_TOKEN=token
YANDEX_CLOUD_TOKEN=token
YANDEX_S3_ID=accessKeyId
YANDEX_S3_SECRET=secretAccessKey
ROUTERAI_API_KEY=token
QDRANT_BASE_URL=url
QDRANT_API_KEY=token
LANGFUSE_SECRET_KEY=token
LANGFUSE_PUBLIC_KEY=token
