TOKEN=token
OPEN_WEATHER_TOKEN=token
YANDEX_CLOUD_TOKEN=token
YANDEX_S3_ID=accessKeyId
YANDEX_S3_SECRET=secretAccessKey
ROUTERAI_API_KEY=token
EMBEDDING_BASE_URL=http://localhost:3001
EMBEDDING_MODEL=intfloat/multilingual-e5-small
EMBEDDING_VERSION=1
EMBEDDING_TIMEOUT_MS=2000
LANGFUSE_SECRET_KEY=token
LANGFUSE_PUBLIC_KEY=token
