services:
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: phoronis_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: phoronis
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped
  
  qdrant:
    image: qdrant/qdrant:v1.16
    container_name: phoronis_qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

volumes:
  postgres_data: 
  qdrant_data:
